body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #F9F9F9;
    background-color: #6695DB;
  }
  
  .headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #F9F9F9;
  }
  nav {
   background-color: #3B6199;
  }
  ul {
    display: flex;
    padding: 0;
  }

  button {
    background-color: #1D3D6F;
    color: #F9F9F9;
    border: none;
    padding: 10px 40px;
    margin: 2px;
    cursor: pointer;
    border-radius: 20px; /* Added border-radius property */
  }

  button:hover {
    background-color: #7794BF;

  }