.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Added margin */
  }
  
  .Home h1 {
    font-size: 60px; /* Increased font size */
    margin-bottom: 40px;
    margin-top: 0; /* Move h1 to the very top */
    color: #1D3D6F;
  }
  
  .Home button {
    padding: 25px 50px; /* Increased padding */
    margin: 40px; /* Increased margin */
    font-size: 30px; /* Increased font size */
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 15px; /* Increased border radius */
    cursor: pointer;
  }
  
  .Home button:hover {
    background-color: #1D3D6F;
  }
  
  .Home button:last-child {
    margin-bottom: 0;
  }
  